/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.profile {
    margin: 20px;
}

h1[data-testid="slackUserName"] {
    font-size: 24px;
    font-weight: bold;
}

img[data-testid="slackDisplayImage"] {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
}
